extends layout

block content
  h1= title
  br
  form(method='post', action='/api/superhero/#{superhero.id}?_method=PUT')
    .form-group
      label Superhero name 
      input.form-control(type='text', name='name', value='#{superhero.name}', required='')
    button.btn.btn-default(type='submit') Update
  br
  form.form-inline(method='post', action='/api/superhero/#{superhero.id}?_method=DELETE')
    button.btn.btn-default(type='submit') Delete